includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkModelProperties: true
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - app
        - routes
    level: 4
