includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkModelProperties: true
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - app
        - routes
    level: 4
    ignoreErrors:
        - message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$\w+#'
          path: "app/Filament/Resources/Shield/RoleResource/Pages/ShieldSettings.php"
